.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 175px 50px 190px;
}

.button--header1{
  border: none;
  background-color: white;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s;
  margin-right: 30px;
}
.button--header1:active{
  color: var(--redish-color);
}
.button--header2{
  border: 2px solid var(--redish-color);
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  background-color: var(--redish-color);
  padding: 10px 25px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.1s;
}
.button--header2:active{
  background-color: white;
  color: var(--redish-color);
}
.side--nav{
  display: none;
}
.hamburger{
  display: none;
}

.drawer--header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding: 15px 25px 35px 20px;
}
.drawer--body{
  padding: 0px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.drawer--button1{
  font-size: 18px;
  letter-spacing: 2px;
  transition: 0.1s;
}
.drawer--button1:active{
  color: var(--redish-color);
}
.drawer--button2{
  background-color: hsl(229, 31%, 21%);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Rubik', sans-serif;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.1s;
}
.drawer--button2:active{
  color: hsl(229, 31%, 21%);
  border: 2px solid hsl(229, 31%, 21%);
  background-color: white;
}
.drawer--media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  height: 100%;
}
.drawer--bottom{
  position: absolute;
  bottom: 40px;
  left: 20%;
  right: 20%;
}

@media (max-width: 1100px) {
  .header{
    padding: 28px 33px 28px 33px;
    min-height: 43px;
  }
  .hamburger{
    display: block;
  }
  .header--buttons {
    display: none;
  }
  .side--nav{
    display: block;
  }
}