.box--container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  max-height: 500px;
  max-width: 1200px;
  background-color: white;
  border: none;
  outline: none;
  box-shadow: 24;
}
.modal--container{
  transform: translate(-4%, 5%);
  position:relative;
}
.modal--button{
  position: absolute;
  right: 0%;
  top: 0%;
  width: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
  z-index: 100;
}
.blueBox--modal{
    position: absolute;
    left: 0%;
    top: 13%;
    transform: translate(10%, 12%);
    width: 40%;
    height: 90%;
    z-index: -10;
    background-color: hsl(231, 69%, 60%);
    border-top-right-radius: 230px;
    border-bottom-right-radius: 160px;
}
@media (max-width: 1250px) {
  .box--container{
    width: 95%;
    height: 90%;
    max-height: 700px;
    max-width: 1200px;
  }
  .modal--container{
    transform: translate(6%, 5%);
    width: 90%;
    position:relative;
  }
  .blueBox--modal{
    top: 15%;
    transform: translate(-7.5%, 35%);
    width: 80%;
    height: 40%;
}
}
@media (max-height: 765px) {
  .modal--container{
    transform: translate(6%, -8%);
  }
}
