body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

/* Color variables */
:root {
  --primary-color: hsl(231, 69%, 60%);
  --redish-color: hsl(0, 94%, 66%);
  --secondary-color: hsl(229, 8%, 60%);
  --tertiary-color: hsl(0, 0%, 95%);
  --text-color: hsl(229, 31%, 21%);
}
